/bin/Debug/Newtonsoft.Json.dll
/bin/Debug/Newtonsoft.Json.xml
/bin/Debug/ToNStatTool.exe
/bin/Debug/ToNStatTool.exe.config
/bin/Debug/ToNStatTool.pdb
/bin/Debug/terrorsInfo.json
/bin/Release/Newtonsoft.Json.dll
/bin/Release/Newtonsoft.Json.xml
/bin/Release/ToNStatTool.exe
/bin/Release/ToNStatTool.exe.config
/bin/Release/ToNStatTool.pdb
/bin/Release/terrorsInfo.json
/bin/ToN_Statistics_Tool.zip
/bin/ToN_Statistics_Tool/Newtonsoft.Json.dll
/bin/ToN_Statistics_Tool/Newtonsoft.Json.xml
/bin/ToN_Statistics_Tool/ToNStatTool.exe
/bin/ToN_Statistics_Tool/ToNStatTool.exe.config
/bin/ToN_Statistics_Tool/terrorsInfo.json
/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/obj/Debug/ToNStatT.E393ED80.Up2Date
/obj/Debug/ToNStatTool.Properties.Resources.resources
/obj/Debug/ToNStatTool.csproj.AssemblyReference.cache
/obj/Debug/ToNStatTool.csproj.CoreCompileInputs.cache
/obj/Debug/ToNStatTool.csproj.FileListAbsolute.txt
/obj/Debug/ToNStatTool.csproj.GenerateResource.cache
/obj/Debug/ToNStatTool.exe
/obj/Debug/ToNStatTool.pdb
/obj/Release/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/obj/Release/DesignTimeResolveAssemblyReferences.cache
/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/obj/Release/ToNStatT.E393ED80.Up2Date
/obj/Release/ToNStatTool.Properties.Resources.resources
/obj/Release/ToNStatTool.csproj.AssemblyReference.cache
/obj/Release/ToNStatTool.csproj.CoreCompileInputs.cache
/obj/Release/ToNStatTool.csproj.FileListAbsolute.txt
/obj/Release/ToNStatTool.csproj.GenerateResource.cache
/obj/Release/ToNStatTool.exe
/obj/Release/ToNStatTool.pdb
/packages/Newtonsoft.Json.13.0.3/.signature.p7s
/packages/Newtonsoft.Json.13.0.3/LICENSE.md
/packages/Newtonsoft.Json.13.0.3/Newtonsoft.Json.13.0.3.nupkg
/packages/Newtonsoft.Json.13.0.3/README.md
/packages/Newtonsoft.Json.13.0.3/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net6.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net6.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/packageIcon.png
/.claudiaideconfig
/.vs/ToNStatTool/CopilotIndices/17.13.431.34963/CodeChunks.db
/.vs/ToNStatTool/CopilotIndices/17.13.431.34963/CodeChunks.db-shm
/.vs/ToNStatTool/CopilotIndices/17.13.431.34963/CodeChunks.db-wal
/.vs/ToNStatTool/CopilotIndices/17.13.431.34963/SemanticSymbols.db
/.vs/ToNStatTool/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm
/.vs/ToNStatTool/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal
/.vs/ToNStatTool/FileContentIndex/602e15f4-f2d9-432a-b625-73a2cd560cab.vsidx
/.vs/ToNStatTool/FileContentIndex/61d04c42-1fda-4903-b159-5c1fba06e918.vsidx
/.vs/ToNStatTool/FileContentIndex/a85cc6e4-01a6-423e-9494-f41bbfa065a2.vsidx
/.vs/ToNStatTool/FileContentIndex/d693917b-916b-4dab-98e7-ade6bde11148.vsidx
/.vs/ToNStatTool/FileContentIndex/fde7ec11-ad08-4202-9686-4aa3888c32f8.vsidx
/.vs/ToNStatTool/copilot-chat/a5799bf4/sessions/50e24e9d-9d90-4c97-b004-85f5b11b40aa
/.vs/ToNStatTool/v17/.suo
/.vs/ToNStatTool/v17/DocumentLayout.backup.json
/.vs/ToNStatTool/v17/DocumentLayout.json
/.vs/ToNStatTool/FileContentIndex/*.vsidx
/Resources
*.user
