name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
                             
    env:
      Solution_Name: ToNStatTool.sln       # Replace with your solution name, i.e. MyWpfApp.sln.

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.3.1

    # Setup NuGet
    - name: Setup NuGet
      uses: nuget/setup-nuget@v1.2.0

    # Restore NuGet
    - name: Restore NuGet packages
      run: nuget restore $env:Solution_Name

    # Build
    - name: Build the Solution
      run: msbuild $env:Solution_Name
